.todo-form button, .search-button, .back-button, .todo-button, .update-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.todo-form button, .search-button {
  background-color: #4CAF50;
  color: #fff;
}

.todo-form button:hover, .search-button:hover {
  background-color: #3E8E41;
}

.todo-button {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-left: 5px;
}

.delete-button {
  background-color: #BA2E00;
}

.delete-button:hover {
  background-color: #5d1700;
}

.details-button {
  background-color: #008cba;
}

.details-button:hover {
  background-color: #00465d;
}

.update-button {
  background-color: orange;
  margin-top: 10px;
}

.update-button:hover {
  background-color: darkorange;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
}

.back-button:hover {
  background-color: #3E8E41;
}

.back-button-container {
  margin-top: 20px; /* Add spacing from the previous element */
  display: flex;
  justify-content: center; /* Center the button */
}

.search-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  color: #4CAF50;
  text-decoration: none;
  cursor: pointer;
}

.search-link:hover {
  text-decoration: underline;
}

.search-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.search-todos-button {
  margin-top: 10px;
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-todos-button:hover {
  background-color: #3E8E41;
}
